<!-- The SECRET NUMBER is  <%= number %> -->

<html>
  <head>
    <style>
    body {
       background: <%= background_color %>
     }
    </style>
  </head>
  <body>
    <p>
      <form>
          <input type='text' name='guess' />
          <input type='submit' value='Guess!' />
      </form>
      <%= message %>

    </p>
  </body>
</html>
